body {
    font-size: 63.5%;
    background-image: url(src/21-9bk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.infobar {
    height: 15em;
    display: flex;
}

.infobar span {
    /* 使用flex实现垂直居中 https://blog.csdn.net/qq_18835599/article/details/115672902 */
    display: flex;
    align-items: center;

    margin: 2em;
    border: 1.5em solid #8c6900;
    border-radius: 10em;
    /* 使用辅助色标实现突变 https://www.jianshu.com/p/b7aac233bd29 */
    background-image: linear-gradient(to top, #ffd24d 0%, #ffd24d 50%, #ffe699 50%, #ffe699 100%);
}

.infobar em {
    color: #8a690f;
    font-size: 5em;
    font-weight: 800;
    font-style: normal;
    margin-left: 1em;
    margin-right: 1em;
}

#date {
    justify-content: center;
    flex: 2 1 0;
}

#money {
    justify-content: flex-end;
    flex: 3 1 0;
}

/* COOK AREA */
.cook-area {
    display: flex;
    align-items: center;
    background-color: #ffd24d;
    height: 58em;
    margin: 3em;
    border: 1.5em solid #ffffff;
    border-radius: 5em;
}

.cooks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cook {
    margin: 4em;
    width: 20em;
    height: 20em;
}

.cook-avatar {
    width: 20em;
    height: 20em;
    border-radius: 100em;
    background-image: url(src/cook.png), linear-gradient(to right, #dddddd 50%, #aaaaaa 50%);
    background-size: contain;
    border: 1em solid white;
}

.cooking-name {
    margin-top: -5em;
    width: 20em;
    height: 4em;
    border: 1em solid white;
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cooking-name p {
    font-size: 3.2em;
}

#cookadd {
    width: 19em;
    height: 19em;
    border-radius: 100em;
    background-image: none;
    background-image: url(src/no-chef.png), linear-gradient(to right, #dddddd 50%, #aaaaaa 50%);
    background-size: contain;
    border: 1em solid white;
}

/* CUSTOMER AREA */
.customer-area {
    display: flex;
    align-items: center;

    background-color: #ffa64d;
    height: 58em;
    margin: 3em;
    margin-top: 10em;
    border: 1.5em solid #ffffff;
    border-radius: 5em;
}

#customers {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.customer {
    margin: 2em;
    width: 38em;
    height: 20em;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.cus-avatar {
    margin: 0;
    padding: 0;
    width: 20em;
    height: 20em;
    border-radius: 999em;
    background-image: linear-gradient(to right, #dddddd 50%, #aaaaaa 50%);
    background-size: contain;
    border: 1.5em solid white;
}

.cus-order {
    width: 20em;
    margin: 1em;
    margin-left: -5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orders {
    display: flex;
    height: 5em;
    background-color: #aaaaaa;
    border: 0.8em solid white;
    margin: 1em;

    justify-content: center;
    align-items: center;
    /* 文字自动折行 */
    overflow:hidden;
    word-wrap:break-word;
    word-break:break-all;
}

.orders p {
    font-size: 3em;
    font-weight: 600;
    color: #503a02;
}

/* 等待区 */

.waiting_list {
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
    width: 95%;
    height: 18em;
    margin: 0;

    position: absolute;
    left: 0;
    bottom: 6em;
    /* background-color: #aaaaaa; */
    z-index: 998;
}

.waiting {
    width: 15em;
    height: 15em;
    margin: -2em;
    border-radius: 100em;
    border: 2em solid #ffffff;
    background-image: url(src/customer2.png), linear-gradient(to right, #ff2626 50%, #b20000 50%);
    background-size: contain;
}

/* 弹窗 */

.shadow {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.6;
    z-index: 999;
}

.point {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
}

.FlashNotice {
    width: 60em;
    height: 30em;
    position: absolute;
    left: -30em;
    top: -15em;
    background-color: #ffa64d;
    z-index: 9999;
    border: 2em solid #ffffff;
    border-radius: 5em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex布局文字自动折行 https://blog.csdn.net/caimaomaocai/article/details/96483073 */
    overflow:hidden;
    word-wrap:break-word;
    word-break:break-all;
}

.FlashNotice p {
    font-size: 4em;
    color: #513a00;
    /* font-size: 4em; */
    margin: 0.2em;
}

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 90em;
    height: 50em;
    position: absolute;
    left: -45em;
    top: -25em;
    background-color: #ffd24d;
    border: 2em solid #ffffff;
    border-radius: 5em;
    z-index: 9998;
}

.dialog-text {
    width: 90%;
    height: 50%;
    /* position: inherit; */
    margin: 2em;

    display: flex;
    flex-direction: column;
    flex: 2 1 auto;
    /* justify-content: center; */
    align-items: center;
}

.dialog-text h1 {
    color: #513a00;
    font-size: 6em;
    margin: 0.2em;
}
.dialog-text div {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.dialog-text p, .dialog-text div span {
    color: #8c6800;
    font-size: 3.5em;
}

.button {
    width: 20em;
    height: 10em;
    /* position: inherit; */
    background-image: linear-gradient(to bottom, #ffe699 50%, #ffd24d 50%);
    border-radius: 100em;
    border: 0.8em solid #8c6900;
    margin: 4em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button p {
    color: #8c6900;
    font-size: 5em;
    font-weight: 500;
    /* 设置字间距 https://www.w3school.com.cn/css/css_text_spacing.asp */
    letter-spacing: 0.1em;
}

#FWbutton {
    width: 80%;
    height: 20%;
    flex: 1 1 auto;
}

/* 菜单 */
#menu {
    height: 140em;
    top: -70em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-status {
    display: flex;
    width: 85%;
    justify-content: right;
    align-items: center;
}

.menu-status h1 {
    font-size: 5em;
    margin: 0;
}

.avatar {
    width: 20em;
    height: 20em;
    border-radius: 100em;
    background-color: #aaaaaa;
    background-size: contain;
    border: #ffffff 2em solid;

    z-index: 1000;
    position: inherit;
    top: -10em;
    left: 8em;
}

.dishes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 70%;
    background-color: #ffffff;
    border: 1em #ca9801 solid;
    margin-top: 2em;
    border-radius: 3em;
}

.menu_details {
    font-size: 4em;
    color: #8c6600;

    display: flex;
    flex-direction: column;
    margin-left: 8%;
}

.menu_details input {
    transform: scale(3);
    margin: 1.5em;
}

.menu_details em {
    font-style: normal;
    font-weight: bolder;
    color: #513a00;
}

.menu_details ul {
    font-weight: normal;
    list-style-type: none;
}

.menu_details ul li {
    display: flex;
    flex-direction: row;
}

.menu_details ul li label {
    width: 16em;
    display: flex;
    justify-content: space-between;
}

.menu_details span {
    flex: 2 1 0;
}

.menu_details span:last-child {
    flex: 1 1 0;
}

.g-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
}

#confirm-button, #confirm-newcook {
    flex: 3 1 0;
    height: 12em;
}

#cancel-button, #cancel-newcook {
    flex: 2 1 0;
    height: 12em;
}
