body {
    font-size: 62.5%;
    background-image: url(src/21-9bk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.infobar {
    height: 15em;
    display: flex;
}

.infobar span {
    /* 使用flex实现垂直居中 https://blog.csdn.net/qq_18835599/article/details/115672902 */
    display: flex;
    align-items: center;

    margin: 2em;
    border: 1.5em solid #8c6900;
    border-radius: 10em;
    /* 使用辅助色标实现突变 https://www.jianshu.com/p/b7aac233bd29 */
    background-image: linear-gradient(to top, #ffd24d 0%, #ffd24d 50%, #ffe699 50%, #ffe699 100%);
}

.infobar em {
    color: #8a690f;
    font-size: 5em;
    font-weight: 800;
    font-style: normal;
    margin-left: 1em;
    margin-right: 1em;
}

.date {
    justify-content: center;
    flex: 1 1 auto;
}

.money {
    justify-content: flex-end;
    flex: 2 1 auto;
}

/* COOK AREA */
.cook-area {
    display: flex;
    align-items: center;
    background-color: #ffd24d;
    height: 60em;
    margin: 3em;
    margin-top: 10em;
    border: 1.5em solid #ffffff;
    border-radius: 5em;
}

.cooks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cooks span {
    margin: 4em;
    width: 20em;
    height: 20em;
    border-radius: 100em;
    background-image:  url(src/cook.png), linear-gradient(to right, #dddddd 50%, #aaaaaa 50%);
    background-size: contain;
}

/* CUSTOMER AREA */
.customer-area {
    display: flex;
    align-items: center;
    background-color: #ffa64d;
    height: 60em;
    margin: 3em;
    margin-top: 10em;
    border: 1.5em solid #ffffff;
    border-radius: 5em;
}

.customers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.customers span {
    margin: 2em;
    width: 38em;
    height: 20em;
    border-radius: 100em;
    background-image: url(src/cook.png), linear-gradient(to right, #dddddd 50%, #aaaaaa 50%);
    background-size: contain;
}

/* 等待区 */

.waiting {
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
    width: 90%;
    height: 30em;
    position: fixed;
    left: 0;
    top: 83%;
    /* background-color: #aaaaaa; */
    z-index: 998;
}

.waiting span {
    width: 16em;
    height: 16em;
    margin: -2em;
    border-radius: 100em;
    border: 2em solid #ffffff;
    background-image: url(src/customer2.png), linear-gradient(to right, #ff2626 50%, #b20000 50%);
    background-size: contain;
}

/* 弹窗 */

.shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.6;
    z-index: 999;
}

.point {
    position: absolute;
    left: 50%;
    top: 50%;
}

.FlashNotice {
    width: 60em;
    height: 30em;
    position: absolute;
    left: -30em;
    top: -15em;
    background-color: #ffa64d;
    z-index: 9999;
    outline: 2em solid #ffffff;
    border-radius: 5em;
}

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 90em;
    height: 50em;
    position: absolute;
    left: -45em;
    top: -25em;
    background-color: #ffd24d;
    outline: 2em solid #ffffff;
    border-radius: 5em;
    z-index: 9998;
}

.dialog-text {
    width: 90%;
    height: 50%;
    /* position: inherit; */
    margin: 2em;

    display: flex;
    flex-direction: column;
    flex: 2 1 auto;
    /* justify-content: center; */
    align-items: center;
}

.dialog-text h1 {
    color: #513a00;
    font-size: 6em;
    margin: 0.2em;
}
.dialog-text div {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.dialog-text p, .dialog-text div span {
    color: #8c6800;
    font-size: 3.5em;
}

.button {
    width: 20em;
    height: 10em;
    /* position: inherit; */
    background-image: linear-gradient(to bottom, #ffe699 50%, #ffd24d 50%);
    border-radius: 100em;
    outline: 0.8em solid #8c6900;
    margin: 4em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button p {
    color: #8c6900;
    font-size: 5em;
    font-weight: 500;
    /* 设置字间距 https://www.w3school.com.cn/css/css_text_spacing.asp */
    letter-spacing: 0.1em;
}

#FWbutton {
    width: 80%;
    height: 20%;
    flex: 1 1 auto;
}

/* 菜单 */
#menu {
    height: 140em;
    top: -70em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-status {
    display: flex;
    width: 85%;
    justify-content: right;
    align-items: center;
}

.menu-status h1 {
    font-size: 5em;
    margin: 0;
}

.avatar {
    width: 20em;
    height: 20em;
    border-radius: 100em;
    background-color: #aaaaaa;
    outline: #ffffff 2em solid;

    z-index: 1000;
    position: inherit;
    top: -10em;
    left: 8em;
}

.dishes {
    display: flex;
    width: 90%;
    height: 70%;
    background-color: #ffffff;
    border: 1em #ca9801 solid;
    border-radius: 3em;
}

.g-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}

#confirm-button {
    flex: 3 1 0;
    height: 12em;
}

#cancel-button {
    flex: 2 1 0;
    height: 12em;
}
